[Desktop Entry]
Version=0.0.1
Type=Application
Name=Humble Lumpia
GenericName=Proton-GE Installer
Comment=Install/Manage Proton-GE

Exec=humble-lumpia-gtk
Terminal=false

Actions=install-latest

[Desktop Action install-latest]
Name=Install Latest Proton-GE
Exec=humble-lumpia install latest

